<a href="/demo/hello">Hello Page 1</a><br />

<%= link_to('Hello Page 2',{:action => 'hi'}) %><br />

<%= link_to('Hello With Parameters',{:action => 'hi', :page => 5, :id => 20}) %><br />

<%= link_to('Roar','#',:onclick => "jsRoar('Javascript'); return true;") %>